h1 {
  color: var(--text-color-b);
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color-b);
  position: relative;
}

h2::after {
  content: "";
  display: block;
  width: 7.5rem;
  height: 0.2rem;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -0.375rem; /* Position it slightly below the text */
  left: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.25rem;
  background-color: var(--modal-background);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 12px var(--shadow-color);
}
tr {
  margin-right: 1.25rem;
}

th,
td {
  padding: 1rem;
  text-align: left;
}
td {
  border-bottom: 1px solid var(--secondary-background-color);
}
th {
  background-color: var(--secondary-background-color);
  font-weight: bold;
  text-transform: uppercase;
}
.total-row {
  font-weight: bold;
  background-color: var(--secondary-background-color);
}
.specialInstructions {
  font-size: medium;
  color: var(--text-color-c);
  font-style: italic;
  word-wrap: break-word; /* Allow long words to break and wrap to the next line */
}
